@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    text-decoration: none;
    color: #1e1e1e;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    color: #1e1e1e;
}

p {
    color: #999999;
}

strong {
    color: #1e1e1e;
}
